body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    height: 100%;
    width: 100%;
}

canvas {
    border: 1px solid black;
    width: 1024px;
    height: 768px;
}

.form-container {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    margin-left: 20px; /* Separación del canvas */
}

.form-container input, 
.form-container select, 
.form-container button {
    margin: 10px 5px;
    padding: 5px;
    width: calc(100% - 22px);
}

.form-container label {
    margin-right: 10px;
}
